<h1>Add new course</h1>

<form action="/add" method="post" >
    <div class="input-field">
        <input  id="title" name="title" type="text" class="validate" required>
        <label for="title">Course name</label>
        <span class="helper-text" data-error="set name" ></span>

    </div>

    <div class="input-field">
        <input  id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Price of Course</label>
        <span class="helper-text" data-error="set price"></span>

    </div>

    <div class="input-field">
        <input  id="img" name="img" type="text" class="validate" required>
        <label for="img">Url of Image</label>
        <span class="helper-text" data-error="set url " ></span>

    </div>
    <button class="btn btn-primary">Add Course</button>
</form>